@import './basic.scss';

.page__rates {
    &_table {
        margin-top: 10px;
        padding: 10px;
        display: flex;
        justify-content: center;
        caption {
            font-size: 24px;
            margin-bottom: 10px;
        }
        table,th,td {
            min-width: 70%;
            border: 2px solid #2465bf;
            border-collapse: collapse;
            background-color: #fff;
            text-align: center;
        }
        th {
            background-color: #2465bf;
            color:  #fff;
        }
        td {
            color: #333b46;
        }
        td,th {
            padding: 10px;
        }
    }
}