@import './basic.scss';

.page__rates {
    &_table {
        border: 1px solid black;
        margin-top: 30px;
        padding: 10px;
        display: flex;
        justify-content: center;
        table,th,td {
            border: 1px solid red;
            border-collapse: collapse;
        }
        td,th {
            padding: 10px;
        }
    }
}