@import './basic.scss';

.page__charts {
    display: none;
    &_header {
        text-align: center;
        text-align: center;
    }
    &_form {
        display: flex;
        justify-content: center;
    }
    #page__charts_currency {
        margin-right: 15px;
        @media(max-width: 660px) {
            margin-right: 0;
            margin-bottom: 15px;
            flex-basis: 100%;
        }
    }
    #page__charts_period{
        @media(max-width: 660px) {
            flex-basis: 100%;
        }
    }
}