@import './basic.scss';
@import './actual.scss';
@import './charts.scss';
@import './history.scss';

body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 50px;
    h3 {
        margin-top: 20px;
    }
}

.page {
    background-color: rgb(255, 255, 255);
    margin: auto 5%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    @media(max-width: 660px) {
        margin: auto;
    }
    &__menu {
        border-radius: 16px;
        margin: auto 20%;
        position: relative;
        top: -20px;
        @media(max-width: 660px) {
            margin-bottom:0;
        }
        &_link {
            background-color:#f0f5fa;
            flex-basis: 33.3%;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
            padding: 10px;
            &:first-child {
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
            }
            &:last-child {
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
            }
            &:hover {
                cursor: pointer;
                background-color: rgb(235, 235, 235);
            }
        } 
        ._active {
            color: #fff;
            background-color: #408df8;
        }
        ul {
            list-style: none;
            display: flex;
            font-size: 16px;
            align-items: center;
            a {
                text-decoration: none;
                color: #333b46;
                vertical-align: middle;
                span {
                    vertical-align: middle;
                }
            }
        }
    }
    
    .material-icons {
        color: #333b46;
    }
} 

._form {
    background-color: #487bc2;
    color: #fff;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 4px;
    @media(max-width: 660px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

._button{
    margin: 20px auto 10px auto;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    color: #fff;
    background-color: #2465bf;
      &:hover {
          cursor: pointer;
          background-color: #487bc2;
          transform: scale(1.05);
      }
}

